extends layout
block content
    h1 Create User
    a(href="/") Home
    br
    br
    form(action="/create_user", method="post")
        label Name 
        input(type="text", name="name")
        button(type="submit") Create
