extends layout
block content
    h1 Search User
    a(href="/") Home
    br
    br
    form(action="/search_user", method="GET")
        input(type="text", name="name")
        button(type="submit") Search 
    
    ul 
        each user in users
            li= user.name
